body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400; /* default regular */
}

.regular {
  font-weight: 400;
}

/* nav bar */
.navbar{
    height: 5rem;
    background-color:white ;
}

.fa-solid{
    color: #fe424d;
    height: 2rem;
}

.navlink{
    color: #222222 !important;
}
footer .f-info{
    width: auto;
}
.container{
    flex: 1;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: space-evenly;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links , .f-info-socials , .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}


/* Cards */
.card{
    border: none !important;
    margin-bottom: 1rem;
    cursor: pointer; /* optional: show pointer */
    transition: transform 0.2s;
}

/* .card:hover {
    transform: scale(1.02);
} */

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 1rem; /* give proper spacing */
}

.card-text {
    font-weight: 400 !important;
    color: #000 !important; /* ensure text is black */
}

.listing-link{
    text-decoration: none;
    color: inherit; /* make link text follow normal color */
}

.card-img-top :hover{
opacity: 0.7;
background-color: white;
}

/* Optional: spacing between rows & columns handled by Bootstrap's g-4 */

/* new page */
.add-btn{
    background-color:#fe424d !important;
    text-decoration: none !important;
}

.update-btn{
    background-color:#fe424d !important;
    text-decoration: none !important;
    
}

/* Show page Style */

.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.sho-cards{
    padding-left: 0;
    padding-right: 0;
}

/* ✅ Light shadow hover effect for cards */
.card:hover {
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
transition: box-shadow 0.3s ease-in-out;
}
